{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
      <div class="mb-3">
        <label for="symbol">Choose a Stock:</label>
        <select name="symbol" id="symbol">
          <option value="" selected>Select a stock</option>
          {% for holding in holdings %}
          <option value="{{ holding['symbol'] }}">{{ holding['symbol'] }} ({{ holding['shares']}} shares)</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="text">
      </div>
      <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
